@font-face {
    font-family: 'Asbigan';
    src: url('fonts/Asbigan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#181818;

    color:#f7f4ec;

    font-family:'Poppins',sans-serif;

    line-height:1.6;

}

.hero{
    position:sticky;
    top:0;
    width:100%;
    height:420px;
    overflow:hidden;
    z-index:1;
}

.hero-image{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center 8%;
}

.overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.45);

}

.logo{

    display:none;

}

.logo-below{
    width:180px;

    display:block;

    margin:25px auto;

    position:relative;

    z-index:10;

}

.content{
    width:100%;
    position:relative;
    z-index:10;
    padding:0 25px 60px;
    text-align:center;
    background:#181818;
}

.profile{

    width:200px;

    height:200px;

    border-radius:50%;

    border:6px solid #d88b2c;

    object-fit:cover;

    margin-top: -110px;

    position:relative;

    z-index:3;

    background:#fff;

}

h1{
    font-family:'Asbigan';
    font-weight:350;

    font-feature-settings:
        "liga" 1,
        "calt" 1,
        "dlig" 1;

    font-size:48px;
    color:#fff;
    margin-top:25px;
    letter-spacing:1px;
}

h2{

    color:#d88b2c;

    margin-top:8px;

    font-size:26px;

}

h3{

    font-weight:400;

    color:#ddd;

    margin-top:10px;

    margin-bottom:40px;

}
.buttons{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:18px;

    margin-bottom:55px;

}

.buttons a{

    background:#d88b2c;

    color:white;

    text-decoration:none;

    padding:18px;

    border-radius:18px;

    font-size:18px;

    font-weight:600;

    transition:.3s;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    box-shadow:0 8px 20px rgba(0,0,0,.25);

}

.buttons a:hover{

    background:#f0a43d;

    transform:translateY(-3px);

}

.signature{

    margin-top:50px;

}

.signature h2{

    margin-bottom:25px;

}

.gallery{

    display:flex;

    gap:18px;

    overflow-x:auto;

    padding-bottom:15px;

    scroll-behavior:smooth;

}

.gallery img{

    width:260px;

    height:180px;

    border-radius:18px;

    object-fit:cover;

    flex-shrink:0;

    box-shadow:0 8px 25px rgba(0,0,0,.35);

}

.gallery::-webkit-scrollbar{

    height:8px;

}

.gallery::-webkit-scrollbar-thumb{

    background:#d88b2c;

    border-radius:20px;

}

.about{

    margin-top:60px;

    padding:35px;

    background:#222;

    border-radius:22px;

}

.about p{

    margin-top:20px;

    color:#ddd;

    font-size:18px;

    line-height:1.8;

}
.location{

    margin-top:60px;

    padding:40px 25px;

    text-align:center;

}

.location h2{

    margin-bottom:20px;

}

.location p{

    color:#ddd;

    font-size:18px;

    line-height:1.8;

    margin-bottom:30px;

}

.map-button{

    display:inline-block;

    background:#d88b2c;

    color:#fff;

    text-decoration:none;

    padding:16px 32px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

    box-shadow:0 8px 20px rgba(0,0,0,.25);

}

.map-button:hover{

    background:#f0a43d;

    transform:translateY(-3px);

}

@media (max-width:768px){

    .hero{
        height:100px;
    }

    .hero-image{
        object-fit:cover;
        object-position: center top;
        transform:none;
    }

    .profile{
        width:130px;
        height:130px;
        margin-top:-65px;
    }

    h1{
        font-size:32px;
    }

    h2{
        font-size:22px;
    }

    .buttons{
        grid-template-columns:1fr;
    }

    .gallery img{
        width:220px;
        height:150px;
    }

    .about{
        padding:25px;
    }
}
.contact-cards{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:18px;
    margin:35px auto;
    width:100%;
}

.card{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;

    width:100%;
    max-width:580px;

    background:#222;
    color:#fff;
    text-decoration:none;

    padding:16px 20px;

    border-radius:18px;
    border:1px solid rgba(216,139,44,.25);

    transition:.25s;
}

.card:hover{

    background:#2d2d2d;

    transform:translateY(-2px);

}

.card i{
    position:absolute;
    left:20px;
    font-size:24px;
    color:#d88b2c;
}

.card div{
    width:100%;
    text-align:center;
}

.card strong{

    font-size:18px;

    font-weight:600;

    color:#fff;

    text-align:center;

}

.menu-button{

    display:block;

    margin-top:10px;

    text-align:center;

    background:#d88b2c;

    color:#fff;

    text-decoration:none;

    padding:18px;

    border-radius:18px;

    font-size:20px;

    font-weight:600;
    
    max-width:580px;
    margin:18px auto;
    width:100%;

}

.social-links{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:12px;

    margin:30px 0 50px;

}

.social-links a{
    width:52px;
    height:52px;

    display:flex;
    align-items:center;
    justify-content:center;

    text-decoration:none;
    color:#d88b2c;

    border:1px solid #d88b2c;
    border-radius:50%;

    font-size:22px;

    transition:.25s;
}

.social-links a:hover{

    background:#d88b2c;

    color:#fff;

}